.App {
  text-align: center;
  position: relative;
  height: 100vh;
  /* You can add more background properties or styles as needed */
}

.App::before {
  content: "";
  background-image: url('logos/setting-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: spin 5s linear infinite; /* Add a rotation animation named 'spin' */
}


@keyframes spin {
  from {
    transform: rotate(0deg); /* Start from 0 degrees rotation */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}


body {
  background: linear-gradient(to right, #0c456f, #61dafb);
}
.App-link {
  color: #61dafb;
}

.homePage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
 padding-left: 10pt;
 text-align: left;
 color: white;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 23px;
}

.name {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.role {
  color: black;
  font-size: 36px;
  font-weight: bold;
}

.body p {
  width: 40%;
}

.body b{
  color:black;
}

.settings {
  height: 700pt;
  margin-left: 0px;
}

.nav {
  background: linear-gradient(to right, #0c456f, #61dafb); /* Gradient from left (#1a78be) to right (#0c456f) */
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ul {
  display: flex;
  padding-right: 10pt;
}

.contact {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}

.mail {
  padding-left: 5px;
  font-size: 17px;
  font-weight: bold;
  width: 250px; /* Adjust the width as needed to make it square */
  height: 36px; /* Set the height the same as the width to make it square */
  border: 2px solid white; /* Add a border with the desired color and width */
  box-sizing: border-box; /* Ensure the border width is included in the width and height */
  align-items: center;
  cursor: pointer;
  border-radius: 15px; /* Add rounded edges by setting the border-radius */
  transition: background-color 0.3s, color 0.3s;
}

.linkedin {
  width: 38px;
  height: 36px; /* Set the height the same as the width to make it square */
  border: 2px solid white; /* Add a border with the desired color and width */
  box-sizing: border-box; /* Ensure the border width is included in the width and height */
  align-items: center;
  
  border-radius: 15px; /* Add rounded edges by setting the border-radius */
  transition: background-color 0.3s, color 0.3s;
}

.linkedin:hover{
  background-color: black;
  cursor: pointer;
}

.mail:hover{
  background-color: black;
}

.mail{
  height: 56;
  display: flex;
  flex-direction: row;
}

.work{
  justify-content: space-around;
}

.projects {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.project_one-icon {
  position: relative;
  width: 180pt;
  height: 150pt;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: black;
  background-color: #fff;
  text-align: center;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.project_two-icon {
  position: relative;
  width: 180pt;
  height: 220pt;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: black;
  background-color: #fff;
  text-align: center;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.project_two-icon:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.project_one-icon img, .project_two-icon img {
  max-width: 100%;
  max-height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  z-index: 2; /* Ensure the overlay covers the parent component */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s; /* Add a transition for the overlay */
}

/* Show the overlay on hover */
.project_one-icon:hover .overlay, .project_two-icon:hover .overlay {
  opacity: 1;
}

.navButton {
  padding: 10px;
  text-align: left;
  font-size: 20px; /* Change the font size to 18px */
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF; /* Change the text color to a shade of gray (adjust as needed) */
  transition: color 0.3s; /* Add a smooth color transition animation on hover */
}

.navButton:hover {
  color: black; /* Change the text color on hover (adjust as needed) */
}
.a {
  font-family: Georgia, 'Times New Roman', Times, serif;
}